<div class="container mt-5">
    <div class="row">

        <div class="col-6">
            <form class="form-group">
               <div class="input-group">

                <label class="form-label">Nombre</label>
                <input type="input" formControlName="nombre" class="form-control" >
                <label class="form-label">Apellido</label>
                <input type="input" formControlName="apellido" class="form-control" >
              
               </div>
               <div class="input-group">
                <label class="form-label">Direccion</label>
                <input type="input" formControlName="direccion" class="form-control" >
               </div>
               <div class="input-group">
                <label class="form-label">Fecha</label>
                <input type="date" formControlName="fecha" class="form-control" >
                <label class="form-label">Hora</label>
                <input type="time" formControlName="hora" class="form-control" >
               </div>
               <div class="input-group">
                <label class="form-label">Region</label>
                <input type="input" formControlName="region" class="form-control" >
                <label class="form-label">Comuna</label>
                <input type="input" formControlName="comuna" class="form-control" >
               </div>
               <button type="submit" class="btn btn-primary" >Ir A Pagar</button>
               <button type="submit" class="btn btn-success" >Guardar</button>

              </form>
        </div>

    </div>
</div>
